<form class="add-form" 
    *ngIf="showAddTask"
    (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add Task" [(ngModel)]="text">
    </div>
    <div class="form-control">
        <label for="date">Day & Time</label>
        <input type="text" name="date" id="date" placeholder="Add Day and Time" [(ngModel)]="date">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">
    </div>
    <input type="submit" value="Add Task" class="btn btn-block" >
</form>
